In [1]:
import pandas as pd
# data = pd.read_csv(r'D:\GitHub project\recommendation_system\data\testset.csv')

In [2]:
# 全局变量
# 设置随机数种子
SEED = 1
# 设置取的数据的比例
raw_fraction = 1.
# 文件位置
FILE_PATH = 'data/'

In [9]:
item = pd.read_csv(FILE_PATH+'item.csv')
train = pd.read_csv(FILE_PATH+'train.csv')

In [10]:
item.head()

   ID  attribute1     attribute2
0   0    224058.0  587636.000000
1   1    590568.0  272492.800332
2   2     10930.0  454149.000000
3   3    403310.0   78755.000000
4   4    359171.0  614925.000000

In [11]:
train.head()

   user      ID  score
0     0  507696     90
1     0  137915     90
2     0   22757     90
3     0  120328     90
4     0  123025     90

In [19]:
def margin(item, train):
    # 左合并
    result_df = pd.merge(train, item, on='ID', how='left')
    result_df.set_index('user', inplace=True)
    result_df.to_csv(FILE_PATH+'result_df3.csv')
    return 0

In [20]:
margin(item,train)

0

In [3]:
train = pd.read_csv(FILE_PATH+'result_df2.csv')

In [4]:
train.head()

   user      ID  score     attribute1     attribute2
0     0  507696     90  288394.873765  272492.800332
1     0  137915     90  288394.873765  272492.800332
2     0   22757     90  288394.873765  272492.800332
3     0  120328     90  288394.873765  272492.800332
4     0  123025     90  288394.873765  272492.800332

In [5]:
train['score'] = (train['score'] - train['score'].min())/(train['score'].max() - train['score'].min())
train.describe()

               user            ID         score    attribute1    attribute2
count  5.001507e+06  5.001507e+06  5.001507e+06  5.001507e+06  5.001507e+06
mean   9.605289e+03  3.110830e+05  4.954497e-01  2.994169e+05  2.915044e+05
std    5.714891e+03  1.794890e+05  3.822048e-01  1.209107e+05  1.195827e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  9.000000e+00  3.100000e+01
25%    4.579000e+03  1.563420e+05  0.000000e+00  2.883949e+05  2.724928e+05
50%    9.440000e+03  3.073440e+05  5.000000e-01  2.883949e+05  2.724928e+05
75%    1.443300e+04  4.677770e+05  9.000000e-01  2.883949e+05  2.724928e+05
max    1.983400e+04  6.249600e+05  1.000000e+00  6.249430e+05  6.249510e+05

In [ ]:
from pycaret.regression import *
reg1 = setup(data=train, target='score',feature_interaction=True, feature_ratio=True)
# creating xgboost model
# xgboost = create_model('xgboost')

IntProgress(value=0, description='Processing: ', max=13)

Initiated  . . . . . . . . . . . . . . . . . .              16:07:55
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
ETC        . . . . . . . . . . . . . . . . . .       Calculating ETC

Text(value="Following data types have been inferred automatically, if they are correct press enter to continue…

           Data Type
user         Numeric
ID           Numeric
score          Label
attribute1   Numeric
attribute2   Numeric

In [6]:
# predict on hold-out
pred_holdout = predict_model(xgboost)

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE
0,Extreme Gradient Boosting Regressor,33.344,1371.5681,37.0347,0.0629,2.1871,0.4172